:root {
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);
	--very-dark-blue: hsl(234, 12%, 34%);
	--grayish-blue: hsl(229, 6%, 66%);
	--very-light-gray: hsl(0, 0%, 98%);
}

body {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	background-color: var(--very-light-gray);
	text-align: center;
	margin: 60px 10px 35px 10px;
}

h1 {
	color: var(--very-dark-blue);
	font-size: 25px;
	margin: 0px;
}

p {
	color: var(--grayish-blue);
	margin-top: 0px;
	font-size: 13px;
	line-height: 25px;
}

h3 {
	margin: 0px 0px 5px 0px;
	color: var(--very-dark-blue);
}

img {
	width: 45px;
	margin-top: 18px;
	position: relative;
	left: 195px;
}

.reliable-delivery {
	font-weight: 300;
}

.top-blurb {
	font-size: 15px;
	color: var(--grayish-blue);
	margin-top: 6px;
	padding: 0px 30px 0px 30px;
}

.supervisor-card,
.team-builder-card,
.karma-card,
.calculator-card {
	background-color: white;
	border-radius: 6px;
	box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.144);
	text-align: left;
	margin: 60px 35px 25px 35px;
	padding: 25px;
}

.supervisor-card {
	border-top: solid 4.5px var(--cyan);
}

.team-builder-card {
	border-top: solid 4.5px var(--red);
	margin-top: 0px;
}

.karma-card {
	border-top: solid 4.5px var(--orange);
	margin-top: 0px;
}

.calculator-card {
	border-top: solid 4.5px var(--blue);
	margin-top: 0px;
}

.attribution {
	font-size: 11px;
	text-align: center;
	color: var(--very-dark-blue);
	padding-top: 20px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 280px) and (max-width:299) {
	img {
		position: relative;
		left: 95px;
	}
}

@media (min-width: 300px) and (max-width: 370px) {
	body {
		margin: 60px 10px 35px 10px;
	}

	h1 {
		font-size: 20px;
	}

	img {
		position: relative;
		left: 135px;
	}
}

@media (min-width: 540px) {
	body {
		margin: 60px 90px 35px 90px;
	}
}

@media (min-width: 768px) {
	body {
		margin: 60px 200px 35px 200px;
	}
}

@media (min-width: 800px) and (max-width: 915px) {
	body {
		margin: 60px 225px 35px 225px;
	}
}

@media (min-width: 1024px) {
	body {
		margin: 0px 180px 35px 180px;
	}

	h1 {
		font-size: 36px;
	}

	h3 {
		font-size: 20px;
	}

	img {
		width: max-content;
		position: relative;
		left: 220px;
	}

	.top-blurb {
		padding: 0px 290px 0px 290px;
		margin-top: 15px;
	}

	.info-cards {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 50px;
	}

	.left-column {
		margin-right: 30px;
	}

	.right-column {
		margin-left: 30px;
	} 

	.supervisor-card,
	.team-builder-card,
	.karma-card,
	.calculator-card {
		margin: 0;
		padding: 30px;
		width: 290px;
	}

	.supervisor-card, .calculator-card {
		position: relative;
		top: 25%;
	}

	.team-builder-card {
		margin-bottom: 30px;
	}
}
