:root {
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);
	--very-dark-blue: hsl(234, 12%, 34%);
	--grayish-blue: hsl(229, 6%, 66%);
	--very-light-gray: hsl(0, 0%, 98%);
}

body {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	background-color: var(--very-light-gray);
	text-align: center;
	margin: 60px 0px 35px 0px;
}

h1 {
	color: var(--very-dark-blue);
	font-size: 25px;
	margin: 0px;
}

p {
	color: var(--grayish-blue);
	margin-top: 0px;
	font-size: 13px;
}

h3 {
	margin: 0px 0px 5px 0px;
	color: var(--very-dark-blue);
}

img {
    width: 55px;
    margin-top: 30px;
	position: relative;
    left: 195px;
}

.reliable-delivery {
	font-weight: 300;
}

.powered-tech {
}

.top-blurb {
	font-size: 15px;
	color: var(--grayish-blue);
	margin-top: 6px;
	padding: 0px 30px 0px 30px;
}

.supervisor-card,
.team-builder-card,
.karma-card,
.calculator-card {
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.342);
	text-align: left;
	margin: 60px 35px 25px 35px;
	padding: 25px;
}

.supervisor-card {
	border-top: solid 3px var(--cyan);
}

.team-builder-card {
	border-top: solid 3px var(--red);
	margin-top: 0px;
}

.karma-card {
	border-top: solid 3px var(--orange);
	margin-top: 0px;
}

.calculator-card {
	border-top: solid 3px var(--blue);
	margin-top: 0px;
}

.attribution {
	font-size: 11px;
	text-align: center;
	color: var(--very-dark-blue);
    padding-top: 20px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
